body {
   font: 24px Menlo, Ubuntu;
   background: #0000000;
  }
  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
#main {
 min-height: 800px;
 margin: 0px;
 padding: 0px;
 }

#row{
  display: flex;
  min-height: inherit;
}

#article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #708090;
   border-radius: 2pt;
   background-image: linear-gradient(white, whitesmoke, #708090);
   order: 1;
   width: 100%;
  flex: 1 6 45%;
   }

#matchs{
  margin: 4px;
  padding: 5px;
  order: 0;
  flex: 1 6 20%;
  background-image: linear-gradient(white,whitesmoke, #708090);
  border: 1px solid #708090;
  border-radius: 2pt;
}
#matchs h2{
  text-decoration: underline;
}
#matchs ul{
  list-style: circle;
  overflow: auto;
}
#matchs li{
  padding: 1vh;
}
#matchs, #article{
  height: initial;
}

#nav1 {
   margin: 4px;
   padding: 5px;
   border-radius: 7pt;
   flex: 1 1;
   height: 8vh;
   text-align: center;
   }

#listeNav{
  display: flex;
  text-align: center;
  list-style: none;
  margin: 0;
  height: 100%;
  padding: 0;
  border: solid thin #708090;

}
#listeNav li{
  width: 100%;
  height: 100%;
  text-align: center;

}

#listeNav input{
  width: 100%;
  height: 100%;
  font-size: 2.5vh;
  border: thin solid #D3D3D3;
  background-image: radial-gradient(  white,#D3D3D3,#708090);
  color: black;
}

header{
 display: block;
 text-align: center;
 margin: 4px;
 padding: 5px;
 min-height: 150px;
 border-radius: 2pt;
 background-image: url("../img/back_foot.jpg");
 background-repeat: repeat;
 background-position: center;
 }

header h1,header #div_horloge{
  color: #f8f6f6;
  text-shadow: 1px 2px black;
}

header #div_horloge{
  font-size: 28px;
}

 footer{
   text-align: center;
   border-radius: 2pt;
   padding: 4px;
   margin: 5px;
   background-image: linear-gradient(#708090, white);
   border: 1px solid #708090;
 }

header:first-letter, footer:first-letter{
  font-size: 160%;
}

@media all and (max-width: 640px) {

header, footer {
background: #ffeebb;
min-height: 60px;
}

 #nav1, header, footer {
  min-height: 150px;
 }
}
#div_horloge{
  font-size: x-large;
  text-align: right;
}

div.sfc_table table {
 display:table;
 width:100%;
 border-collapse:collapse;
 border:1px solid silver
}
div.sfc_table table thead th {
 text-transform:uppercase;
 font-size:small;
 background-color:silver
}
div.sfc_table table tr.sfc_top1 td,div.sfc_table table tr.sfc_top2 td {
 background-color:#99CCEE
}
div.sfc_table table tr.sfc_top3 td {
 background-color:#88BBDD
}
div.sfc_table table tr.sfc_top4 td {
 background-color:#99CC44
}
div.sfc_table table tr.sfc_bottom1 td {
 background-color:#FF7777
}
div.sfc_table table tr.sfc_highlight td {
 font-weight:bold;
 border-top:2px solid black;
 border-bottom:2px solid black
}
div.sfc_table table tr th,div.sfc_table table tr td {
 text-align:left;
 padding:2px 5px;
 border-bottom:1px solid silver;
 vertical-align:middle
}
div.sfc_table table tr th.sfc_numeric,div.sfc_table table tr td.sfc_numeric {
 text-align:right
}
div.sfc_table table tr th.sfc_form,div.sfc_table table tr td.sfc_form {
 white-space:nowrap
}
div.sfc_table table tr th.sfc_team,div.sfc_table table tr td.sfc_team {
 background-repeat:no-repeat;
 background-position:center left;
 background-size:20px 20px;
 line-height:25px;
 padding-left:25px !important
}
div.sfc_table table tr th span.sfc_form,div.sfc_table table tr td span.sfc_form {
 display:inline-block;
 width:10px;
 margin:0 1px;
 border-radius:2px
}
div.sfc_table table tr th span.sfc_W,div.sfc_table table tr td span.sfc_W {
 background:#22AA22
}
div.sfc_table table tr th span.sfc_D,div.sfc_table table tr td span.sfc_D {
 background:orange
}
div.sfc_table table tr th span.sfc_L,div.sfc_table table tr td span.sfc_L {
 background:#FF3333
}
div.sfc_table div.sfc_footer {
 display:block !important;
 text-align:right
}
@media screen and (max-width: 767px) {
 div.sfc_table {
  width:100%;
  overflow-y:hidden;
  -ms-overflow-style:-ms-autohiding-scrollbar
 }
}
#tools{
  text-align: center;
}
#tools #add, #tools #del{
  padding: 0vw 10vw;
}
#currentmatch{
  padding-top: 5vh;
  display: flex;
  width: 100%;
}
#label, #input{
  width: 100%;
  height: inherit;
}
#label{
  flex: 1 0;
  text-align: right;
}
#input{
  flex: 1 0;
}
#label p{
  margin: 0;
  margin-top: 1vh;
  padding-bottom: 1vh;
}
#input input,#input select{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
span #vicdom,span #vicext,span #nul{
  margin-bottom: 1.2vw;
}
.button:hover{
  background-color: #708090;
  color: white;
}
